<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/app.css" />
    <title><%=name %></title>
</head>

<body>
    <div class="root">
        <div id="template"></div>
        <script type="text/html" id="template_script">
            <span>{{ a }}</span>
            <span>{{ b }}</span>
        </script>
    </div>
    <script src="./js/es5-shim.js"></script>
    <script src="./js/es5-sham.js"></script>
    <script src="./js/template.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/utils.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>